body {
  overflow-x: hidden;
}
.title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
  padding-top: 3.5%;
}

/* NAVIGATION-START */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-top: 0.8rem;
}
/* ff3d54 */
/* 7a101c */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
  color: #7a101c;
}

/* NAVIGATION-END */

/* Landing Start */

.back {
  height: 100vh;
  background-image: url("./images/pic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.jumbotron {
  position: absolute;
  top: 10%;
  background: rgba(20, 0, 0, 0.6) !important;
  padding:0px;
  margin-bottom: 0px;
}
.lead {
  color: #7a101c;
  font-weight: 700;
}
.display-1 {
  font-family: "Piedra", cursive;
  color: #ff3d54;
}
.btn-primary {
  background-color: #7a101c;
}
.btn-primary:hover {
  background-color: #ff3d54;
}
b {
  color: #ff3d54;
}
/* Landing End */

/* Listing Start */

#listings,
#ticket {
  background-color: #130e0e;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 10px;
}

.card {
  background-color: #16090b;
  color: #ffffff;
}

.card-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #7a101c;
  font-size: 25px;
}

.card-footer {
  background-color: rgb(61, 9, 9);
}

small {
  font-size: 15px;
}

.text-muted {
  color: #ffffff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ff3d54;
  color: black;
}

a {
  color: #ffffff;
}
a:hover {
  color: #ff3d54;
  text-decoration: none;
}

/* Listing End */

/* NewsFeed Start */

#newsFeed {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #1f1e1e;
}

.fa-hand-point-right {
  font-size: 30px;
  color: #7a101c;
}
.fsize {
  font-size: 23px;
  text-decoration: none;
}

.container h3 {
  padding-bottom: 30px;
}

/* NewsFeed End */

/* Contact start */
#contact {
  /* padding-top: 10%; */
  background-color: #181616; /*#130e0e*/
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 20px;
  background: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: #1f1e1e;
  color: white;
}
label,
legend {
  font-weight: 550;
  font-size: 20px;
  color: #7a101c;
}

input[type="checkbox"]:checked {
  background-color: #ff3d54;
}
button[type="submit"] {
  padding: 16px;
  font-size: 20px;
}

.fab {
  font-size: 30px;
  padding: 10px;
}

.footer-copyright {
  background-color: #130e0e;
  color: #ffffff;
}

.banner {
  width: auto;
}
.unique-color-dark {
  background-color: #1f1e1e; /*#130e0e*/
  color: #ffffff;
}
.fa-facebook-f {
  color: #3b5998;
}
.fa-twitter {
  color: #00acee;
}

.fa-linkedin-in {
  color: #0e76a8;
}

.fa-instagram {
  color: #833ab4;
}

/* Contact End */
